# Supabase Project Configuration

[db]
port = 54322
shadow_port = 54320

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:19000"
additional_redirect_urls = ["squadgame://", "exp://"]

[auth.email]
enable_signup = true
double_confirm_changes = false
enable_confirmations = false

[auth.sms]
enable_signup = false

# Edge Functions
[functions.verify_jwt]
verify_jwt = true
